{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% comment %} Be aware of that the extends coming with a string type of path of the html, and if we register the path in the PATH DIR in the settings.py, then we can just write the file name. {% endcomment %}

{% comment %} Before using template inheritance {% endcomment %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The double curly braces is django templating language's place holder, offically called interpolation, which can receive variable from render function call in the view function-->
    <!-- the pipe symbol is for "filter" function supported by django, to do some logic to the interpolation value before output it -->
    <title>{{ month | title }} Challenge</title>
</head>

<body>
    <h1>{{ month | title }} Challenge</h1>
    {% if challenge_text %}
        <h2>{{ challenge_text }}</h2>
    {% else %}
        <p>There is no challenge for this month yet :D</p>
    {% endif %}
</body>

</html> {% endcomment %}

{% block page_title %}
    {{ month | title }} Challenge
{% endblock %}

{% comment %} For the absolute path, the root folder is the template folder. {% endcomment %}
{% comment %} Or we can use relative path "./includes/header.html" {% endcomment %}

{% block content %}
    {% include "challenges/includes/header.html" %}
    <h1>{{ month | title }} Challenge</h1>
    {% if challenge_text %}
        <h2>{{ challenge_text }}</h2>
    {% else %}
        <p class="fallback">There is no challenge for this month yet :D</p>
    {% endif %}
{% endblock %}