{% extends "reviews/base.html" %}
{% load static %}

{% block title %}
   Your Review
{% endblock %}

{% block content%}
    <form action="/" method="POST">
        {% csrf_token %}
        <!-- ver1 -->
        <!-- {% if has_error %}
            <p>The username is not valid!</p>
        {% endif %}
        <label for="username">username</label>
        <input id="username" name="username" type="text">
        <button>Send</button> -->

        <!-- ver2 -->
        <!-- {{ form }}
        <button type="submit">Send</button> -->
        
        <!-- ver3 -->
        {% for field in form %}
            <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag}}
                {{ field}}
                {{ field.errors}}
            </div>
        {% endfor %}
        
        {% comment %} <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
            {{ form.user_name.label_tag}}
            {{ form.user_name}}
            {{ form.user_name.errors}}
        </div>
        <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
            {{ form.review_text.label_tag}}
            {{ form.review_text}}
            {{ form.review_text.errors}}
        </div>
        <div class="form-control {% if form.rating.errors %}errors{% endif %}">
            {{ form.rating.label_tag}}
            {{ form.rating}}
            {{ form.rating.errors}}
        </div> {% endcomment %}

        <button type="submit">Send</button>
    </form>
    
{% endblock %}